body {
    text-align: center;
    background-color: rgb(170, 18, 240);
}
h1 {
    font-family: "Poppins", sans-serif;
    color:rgb(241, 219, 218);
}

button {
    color:rgb(110, 180, 180);
    height: 200px;
    width: 200px;
    font-size: 50px;
}